@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  width: 20%;
}

.qrcontain {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.qrcontain img {
  max-width: 100%;
  border-radius: 20px;
}

.qrcontain h1 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-size: 23px;
}

.qrcontain p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  padding-right: 25px;
  padding-bottom: 10px;
}

@media (min-width: 375px) {
  .qrcontain {
    width: 288px;
  }
  .attribution {
    width: 375px;
  }
}
